.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 8px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  /* margin-left: -40px; */
  display: flex;
  gap: 8px;
  padding: 0px;
  /* margin: 0px; */
}

a {
  font-size: 22px;
  background: white;
  /* this removes the line under the links */
  text-decoration: none;
  padding: 5px;
}

/* testing hypothesis */
/* .cont-test {
  display: flex;
  border: 2px solid red;
  justify-content: space-between;
}

.item-test {
  border: 1px solid black;
} */